.main {
  padding 10px
  font-family: Arial, sans-serif;
  &__content {
    height 340px
    max-height 340px
    overflow hidden
    padding 10px
  }
}

.mCSB_inside > .mCSB_container {
  margin 0 !important
  overflow visible !important
}
.mCustomScrollBox.mCS-light.mCSB_vertical.mCSB_inside {
   padding-right 20px !important
}
.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
  background-color #4CAF50 !important

}