.header {
  height 70px
  color white
  &_navy {
    background #23283c
  }
  &__wrapper {
    display flex
  }
  &__avatar {
    height 20px
    width 20px
    background white
    border-radius 50%
  }
  &__info {
    &-name {
      font-size 12px
    }
    &-position {

    }
  }
}