.header {
  height $heightHeader
  color white
  border-radius 7px 7px 0 0
  &_blue {
    background #0071b2
  }
  &__wrapper {
    display flex
  }
  &__avatar {
    height 20px
    width 20px
    background white
    border-radius 50%
  }
  &__info {
    &-name {
      font-size 12px
    }
    &-position {

    }
  }
}