.helper {
  margin-top 30px
  height $heightHelper
  border-radius 7px
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  visibility hidden
  opacity 0
  transform translateY(40px)
  position relative
  &__close {
    position absolute
    &-btn {
      position absolute
      height 20px
      width 20px
      border 1px solid red
      left: 340px;
      top: -30px;
      cursor pointer
    }
  }
  &_visible {
    transition .3s
    transition-property  visibility, opacity, transform
    transform translateY(0) translate3d(0,0,0)
    visibility visible
    opacity 1
  }
}