#dragHeader {
  cursor: move; /* fallback: no `url()` support or images disabled */
  cursor: -webkit-grab; /* Chrome 1-21, Safari 4+ */
  cursor: -moz-grab; /* Firefox 1.5-26 */
  cursor: grab; /* W3C standards syntax, should come least */
}
#dragContainer {
  border-radius: 5px;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}
.block {
  border: 1px solid #000;
  margin: 0 auto;
}
.block__wrapper {
  margin: 0 auto;
  max-width: 260px;
}
.header {
  height: 70px;
  color: #fff;
}
.header_navy {
  background: #23283c;
}
.header__wrapper {
  display: flex;
}
.header__avatar {
  height: 20px;
  width: 20px;
  background: #fff;
  border-radius: 50%;
}
.header__info-name {
  font-size: 12px;
}
