#dragHeader {
  cursor: move;
}
.block {
  margin: 0 auto;
  max-width: 370px;
}
.block__wrapper {
  margin: 0 auto;
  max-width: 260px;
}
.circle-button {
  height: 80px;
  width: 80px;
  border-radius: 50%;
  position: absolute;
  right: 0;
  bottom: 0;
  transition: 0.3s;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  margin: 10px;
  cursor: pointer;
}
.circle-button_blue {
  background-color: #0071b2;
}
.circle-button:hover {
  box-shadow: 0 3px 15px rgba(0,0,0,0.16), 0 3px 15px rgba(0,0,0,0.23);
}
.circle-button__icon {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  margin: 0 auto;
  height: 60px;
  width: 60px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  transition: 0.3s;
  transition-property: background-image;
}
.circle-button__icon_message {
  background-image: url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz48c3ZnIHZlcnNpb249IjEuMSIgaWQ9ItCh0LvQvtC5XzEiIHhtbG5zOnNrZXRjaD0iaHR0cDovL3d3dy5ib2hlbWlhbmNvZGluZy5jb20vc2tldGNoL25zIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB4PSIwcHgiIHk9IjBweCIgdmlld0JveD0iMCAwIDI0IDI0IiBzdHlsZT0iZW5hYmxlLWJhY2tncm91bmQ6bmV3IDAgMCAyNCAyNDsiIHhtbDpzcGFjZT0icHJlc2VydmUiPjxzdHlsZSB0eXBlPSJ0ZXh0L2NzcyI+LnN0MHtmaWxsOiNGRkZGRkY7fTwvc3R5bGU+PHRpdGxlPjwvdGl0bGU+PGRlc2M+PC9kZXNjPjxnIGlkPSJtaXUiPjxnIGlkPSJBcnRib2FyZC0xIiB0cmFuc2Zvcm09InRyYW5zbGF0ZSgtODYzLjAwMDAwMCwgLTQwNy4wMDAwMDApIj48ZyBpZD0ic2xpY2UiIHRyYW5zZm9ybT0idHJhbnNsYXRlKDIxNS4wMDAwMDAsIDExOS4wMDAwMDApIj48L2c+PHBhdGggaWQ9Im90aGVyLWNvbnZlcnNhdGlvbi1yZXZpZXctY29tbWVudC1idWJibGUtdGFsay1vdXRsaW5lLXN0cm9rZSIgY2xhc3M9InN0MCIgZD0iTTg3Ni41LDQxNGgtMTBjLTIuNSwwLTIuNSwyLjUtMi41LDIuNXY2YzAsMCwwLDIuNSwyLjUsMi41aDAuNWwxLjgsMS43bDEuNy0xLjdoNmMyLjUsMCwyLjUtMi41LDIuNS0yLjV2LTZDODc5LDQxNi41LDg3OSw0MTQsODc2LjUsNDE0TDg3Ni41LDQxNHogTTg4My41LDQxMWgtMTBjLTIuNSwwLTIuNSwyLjUtMi41LDIuNWwxLDBjMCwwLDAtMS41LDEuNS0xLjVoMTBjMS41LDAsMS41LDEuNSwxLjUsMS41djZjMCwwLDAsMS41LTEuNSwxLjVoLTEuNGwtMS4xLDEuNWwtMS4yLTEuNWgtMC40djFsMS41LDEuN2wxLjUtMS43aDFjMi41LDAsMi41LTIuNSwyLjUtMi41di02Qzg4Niw0MTMuNSw4ODYsNDExLDg4My41LDQxMUw4ODMuNSw0MTF6IE04NzYuNSw0MTVoLTEwYzAsMC0xLjUsMC0xLjUsMS41djZjMCwxLjUsMS41LDEuNSwxLjUsMS41aDAuOGwxLjUsMS41bDEuNi0xLjVoNi4xYzEuNSwwLDEuNS0xLjUsMS41LTEuNXYtNkM4NzgsNDE2LjUsODc4LDQxNSw4NzYuNSw0MTVMODc2LjUsNDE1eiIvPjwvZz48L2c+PC9zdmc+ ");
}
.helper {
  height: 550px;
  border-radius: 7px;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}
.header {
  height: 70px;
  color: #fff;
  border-radius: 7px 7px 0 0;
}
.header_blue {
  background: #0071b2;
}
.header__wrapper {
  display: flex;
}
.header__avatar {
  height: 20px;
  width: 20px;
  background: #fff;
  border-radius: 50%;
}
.header__info-name {
  font-size: 12px;
}
